* {
  margin: 0 auto;
}

.flex-trivia-game {
  display: flex;
  flex-flow: column nowrap;
  height: 80vh;
  justify-content: center;
  width: 60vw;
}

.flex-btn-single {
  box-shadow: 2px 5px #958;
  margin: 0 auto;
  width: 50%;
}
