* {

  /* background-image: url('https://jhgarrett.github.io/TriviaGame/assets/images/trivia2.gif'); */
  background-color: aqua;
  margin: 0 auto;
}

.flex-container-input {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  justify-content: center;
}

.flex-buttons {
  background-color: orange;
  border: black solid 2px;
  box-shadow: 2px;
  flex-flow: row nowrap;
  justify-content: center;
  padding: 5px;
  width: 16%;
}

button {
  background-color: red;
  font-weight: 600;
  margin: 2px;
  padding: 3px;
  width: 100vw;
}

input {
  margin-left: 5px;
}
